
.minicartCheckoutButton :global(.vtex-button) {
  background-color: #eb5b25;
  border-color: #eb5b25;
  font-weight: 500;
}

.minicartWrapperContainer {
  float: none;
  /* width: 85%; */
  /* margin-bottom: 30px; */
}

.minicartTitle--minicart-base-content__container {
  margin-top: 30px;
  color: #444;
  font-weight: 700;
}

.minicartWrapperContainer--minicart__page {
  margin-bottom: 200px;
  margin-left: 40px;
}

.minicartTitle--minicart-base-content__container::after {
  content: " de compras";
}

.minicartContentContainer--minicart-base-content {
  max-height: none;
  margin: 0 50px;
  width: 100%;
}

.summaryItemContainer:first-child {
  display: none;
}

.minicartContainer--minicart__page {
  width: 80%;
}

.minicart-base-content__container{
  width: 70%;
}

.minicartContainer--minicart__page :global(.vtex-minicart-2-x-popupStyles){
  /* max-width: 500px; */
}

@media (max-width: 768px) { 
  .minicartContainer--minicart__page {
    width: 100% !important;
  }
  .minicartWrapperContainer--minicart__page {
    margin-left: 0;
  }
}