.styledLinkContent--text__celphones--title {
  font-size: 14px;
}


.styledLinkContent--title__categories--two {
  white-space: normal;
}

.submenuWrapper--category-container--isOpen {
  width: 98vw;
  height: 100vh;
}

.styledLinkContainer--title__categories,
.styledLinkContainer--title__categories--two {
  /* margin: 0;
  border-bottom: 2px solid #eb5b25; */
  margin: 0;
}
.menuItem--title__categories,
.menuItem--text__celphones--title {
  border-bottom: 2px solid #eb5b25;
  padding: 10px 0;
  margin-bottom: 15px;
}

.menuItem--title__categories--two {
  border-bottom: 2px solid #eb5b25;
  padding-bottom: 2px;
}

.submenuContainer--category-container {
  position: initial;
}