.styledLinkContent--text__celphones--title {
  font-size: 14px;
}


.styledLinkContent--title__categories--two {
  white-space: normal;
}

.submenuWrapper--category-container--isOpen {
  width: 98vw;
  height: 100vh;
}

.styledLinkContainer--title__categories,
.styledLinkContainer--title__categories--two {
  /* margin: 0;
  border-bottom: 2px solid #eb5b25; */
  margin: 0;
}

.menuItem--title__categories,
.menuItem--text__celphones--title {
  border-bottom: 2px solid #eb5b25;
  padding: 10px 0;
  margin-bottom: 15px;
}

.menuItem--title__categories--two {
  border-bottom: 2px solid #eb5b25;
  padding-bottom: 2px;
}

.submenuContainer--category-container {
  position: initial;
}

.styledLinkContent--text__celphones--title--one {
  position: relative;
  left: -80px;
  top: 0px;
}

.styledLinkContent--title__categories--two--Accesorios {
  white-space: normal;
  width: 140px;
  position: relative;
  left: -80px;
  bottom: 5px;
}

.styledLinkContent--menu__title--otro,
.styledLinkContent--menu__title {
  font-size: 14px;
  margin: -5px 0;
}

.styledLinkContainer--menu__title--otro,
.styledLinkContainer--menu__title {
  margin: 0 12px;
}

.styledLinkContainer--menu__title::after {
  content: "";
  display: block;
  position: relative;
  border-right: 1px solid #004797;
  height: 8px;
  right: -13px;
  bottom: 3px;
  z-index: 1;
  transform: translateY(-50%);
  transition: opacity .25s;
} 
.menuItem--menu__title--otro--isOpen,
.menuItem--menu__title--isOpen  {
  background-color: #eb5b25;
  height: 35px;
}

