.flexRowContent--container__contact {
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
}

.flexCol--container__contact--col {
  display: flex;
  width: 65% !important;
  padding: 0 20px;
}

.flexCol--container__contact--col--two {
  display: flex;
  width: 65% !important;
  padding: 0 20px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

