.styledLinkContent--menu--item {
  justify-content: normal;
}

.styledLinkContent--menu__categorys--sub {
  white-space: normal;
}

.menuItem--menu--item--isOpen {
  width: fit-content;
}

.accordionIcon--menu--item--isClosed {
  display: none;
}

.submenuAccordion--submenu__accordion {
  padding: 0;
}