.wrapper--mobile__text--menu {
  color:  #eb5b25;
  font-size: 13px;
}
.paragraph--mobile__text--menu {
  margin: 0;
}

.wrapper--text--categorys-top {
  color: #004c99;
  font-size: 20px;
  font-weight: 600;
}